/* styles/cube.module.css */

.cubeContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  .cube {
    transition: transform 0.6s ease; /* Transição suave */
  }
  
  .face {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; /* Esconde a face oposta */
  }
  