
.stars {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: fadeIn 2s forwards, animStar 50s linear infinite;
  animation-delay: 0s;

  top: calc(var(--random-y) * 100%);
  left: calc(var(--random-x) * 100%);
}

.starsSmall {
  width: 1px;
  height: 1px;
}

.starsMedium {
  width: 3px;
  height: 3px;
  animation-duration: 40s;
  animation-delay: 2s;
}

.starsLarge {
  width: 5px;
  height: 5px;
  animation-duration: 80s;
  animation-delay: 3s;
}

@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
